.container {
  width: 90%;
  margin: auto;
  padding: 45px;
}

.form {
  border-radius: 8px; 
  background-color: gray;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  color: black;
  padding-top: 10px;
}

table {
  width: 100%;
  background-color: gray;
}

button {
  margin-top: 20px;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
  
}

/* Botão Deletar (vermelho) */
.delete-button {
  color: #fff;
  background-color: #f44336; 
}

.delete-button:hover {
  background-color: #d32f2f; 
}

/* Botão Editar (verde) */
.edit-button {
  color: #fff; 
  background-color: #4caf50; 
}

.edit-button:hover {
  background-color: #388e3c; 
}

.mat-header-cell {
  color: white !important; 
  background-color: #333; 
  text-align: justify;
 
  
}


/* Alinhamento dos botões de ação dentro da tabela */
.acoes-buttons {
  
  display: flex;
  justify-content: flex-start;
  gap: 10px; 
  align-items: center; 
  
  
}

/* Para ajustar o tamanho dos ícones */
mat-icon {
  font-size: 20px;
  
}

/* Ajustando o botão "Cadastrar Produto" */
button[mat-raised-button] {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;  /* Espaço entre o botão e o paginator */
}

/* Ajustes no mat-paginator */
mat-paginator {
  margin-top: 20px; /* Dá uma margem acima para o paginator */
  padding-top: 0;
  padding-bottom: 0;
  background-color: gray;
  
  /* Remove qualquer margem inferior extra no paginator */
}

/* Garantir que a tabela ocupe todo o espaço disponível sem deixar faixas */
.mat-elevation-z8 {
  margin-bottom: 0 !important; /* Remove qualquer margem extra na parte inferior da tabela */
}
